body {
  background-color: #333;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.one {
  display: flex;
  width: 50%;
  flex-basis: 360px;
  flex-grow: 1;
  align-self: flex-start;
  animation: one;
  text-align: center;
  background-color: #bdbdbd;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.two {
  display: flex;
  align-items: center;
  width: 50%;
  flex-basis: 360px;
  flex-grow: 1;
  align-self: flex-end;
  animation: two;
  text-align: center;
  background-color: #757575;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.profile-image {
  height: 200px;
  width: 200px;
  opacity: 0;
  margin: auto;
  animation: image;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  transition: transform 0.8s;
}
.profile-image:hover {
  transform: scale(1.6);
}

.menu-list {
  margin: auto;
  list-style: none;
  opacity: 0;
  animation: image;
  animation-duration: 2s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

.menu-list li {
  line-height: 2rem;
  padding: 3px;
  margin: 10px;
  border-radius: 4px;
  width: 100px;
  cursor: pointer;
  background-color: #bdbdbd;
  transition: all 0.5s;
}

.menu-list li:hover {
  transform: scaleX(1.2);
  background-color: #fff;
}

@keyframes one {
  0% {
    height: 0%;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

@keyframes two {
  0% {
    height: 0%;
    opacity: 0;
  }
  100% {
    height: 100%;
    opacity: 1;
  }
}

@keyframes image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
